Package: xyz.skitty.darkshot
Name: DarkShot
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Darken the screenshot flash color!
Depiction: https://skity.xyz/repo/depictions/?p=xyz.skity.darkshot
SileoDepiction: https://skity.xyz/repo/depictions/?s=xyz.skity.darkshot
Icon: https://skity.xyz/repo/icons/xyz.skity.darkshot.png
Maintainer: Skitty
Author: Skitty
Section: Tweaks
