Package: xyz.skitty.darkshot
Name: DarkShot
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Darken the screenshot flash color!
Depiction: https://skitty.xyz/repo/depictions/?p=xyz.skitty.darkshot
SileoDepiction: https://skitty.xyz/repo/depictions/?s=xyz.skitty.darkshot
Icon: https://skitty.xyz/repo/icons/xyz.skitty.darkshot.png
Maintainer: Skitty
Author: Skitty
Section: Tweaks
